@media (max-width:990px) {
    .shop-footer a {
        font-size: 0.7rem;
    }
}

@media (max-width:768px) {
    .top-nav {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .shop-footer .row {
        display: flex;
    }

    .shop-features .card:hover .card-title {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width:375px){
	.navbar-toggler{
	border:none !important;
}
	.navbar-toggler:focus{
		box-shadow:none !important;
	}
}